
// $bp-small: 24em;  // ~384px
// $bp-small-2: 29.75em;  // ~476px
// $bp-small-3: 39.8em; // ~636.8px
// $bp-med: 46.8em; // ~748px
// $bp-med-2: 48em;// ~768px
// $bp-large:50em; // ~800px
// $bp-large-2:54.5em;
// $bp-xl: 60em;
// $bp-xl-2: 67em;




@import 'mixins';
$text-color: #343434;
$white-color: #fff;


html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}


/*Navbar*/

.n-dark {
  border-top: 1px solid $text-color !important;
  border-bottom: 1px solid $text-color !important;

}
.n-b-dark {
  background-color: $text-color !important;

}
.n-logo {
  color:$text-color !important;
}

.dark {
  color:$text-color !important;

}



/*navbar mobile*/
.mob-nav {
  z-index: 400;
  position: absolute;
  min-height: 8vh;
  width: 100vw;
  display: grid;
  place-content: center;
  padding: 5%;

  .mob-nav-cont {
  
    width: 94vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mob-nav-sc {
      display: flex;
      align-items: center;

      .mob-nav-span {
        font-size: .7rem;
        margin-top: 3px;
  
      }
    }
    

  }
}
/*navbar mobile ends*/
.navbar {

  margin-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  min-height: 8vh;
  padding-block: .5rem;
  display: flex;
  align-items: center;
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;

  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96vw;
    margin: auto;
   
    
  }

  & .burger {
    display: flex;
    flex-direction: column;
    gap: .26rem;
    justify-content: center;
    cursor: pointer;

    .b_line {
      width: 28px;
      height: 1.4px;
      background-color: $white-color;

    }

  }

  & .logo{
    font-size: 1.4rem;
    color: $white-color;
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
   
    letter-spacing: 1px;
    cursor: pointer;
    
  }
  & .shop__bag {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    cursor: pointer;

    span {
      color: $white-color;
      font-size: .8rem;
      letter-spacing: .5px;
      font-weight: 300;
    }
  }

  @include small() {
   
  }
  @include medium() {
    & .burger {
      display: none;
      // display: flex;
      // flex-direction: column;
      // gap: .36rem;
      // justify-content: center;
      // cursor: pointer;
  
      // span {
      //   width: 30px;
      //   height: 1.4px;
      //   background-color: $white-color;
  
      // }
  
    }
   
  }
  @include large() {
    .burger {
      display: none;
    }
    & .logo{
      font-size: 1.4rem;
      color: $white-color;
      margin: 0;
      text-transform: uppercase;
      font-weight: 150;
     
      letter-spacing: 1px;
    }
   
  }

  
}

/*Navbar Ends*/
.pointer {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark-arrow {
  width: 3rem;
  
}

.arrow-cont {
  width: 4rem;
  margin-top: -5px;
  overflow: hidden;
}


.title {
  color: #006400;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .9px;
  font-size: 1.8rem;
  overflow: hidden;
}

.anim-span {
  display: block;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
  padding: 0rem .4rem;
}



.second-video-overlay {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}


/* Sidebar starts*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;


  z-index: 1000;
  .sidebar-close {
    position: absolute;
    right: 8%;
    top: 3%;
    cursor: pointer;
  }

    .sidebar-cont {
      color: $text-color;
      display: flex;
      flex-direction: column;
      padding: 40% 15%;
      h1 {
        font-size:1.3rem;
        letter-spacing: .7px;
        font-weight: 310;
        text-transform: uppercase;

      
      }
  }

  @include small() {
    .sidebar-cont h1 {
      font-size: 1.1rem;
    }
   
  }
  @include medium() {
    
   
  }
  @include large() {
    display: none;

   
}
}

/* Sidebar Ends */

/*Nav shopping Cart*/
.nav-shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;

  .desk-cont{
    width: 80%;
    margin: auto;
    padding-top: 4rem;

  }

  .sc-header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 280;
    letter-spacing: .3px;
    border-bottom: 1px solid rgba(37, 37, 37, 0.267);

  }
  .nav-svg-cont{
    display: flex;
    align-items: center;
    gap: .6;
    
  }
  .nav-shop-total {
    color: $text-color;
    font-size: .9rem;

  }
  .nav-in-bag-text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 350;
    letter-spacing: .6px;
  }
  .mini-proucts-cont {
    width: 100%;

    height: 55vh;
    overflow: scroll;
    }
   .empty-text {

     display: grid;
     place-content: center;
    text-align: center;
    }
    .total-mini {
    border-top: 1px solid rgba(37, 37, 37, 0.267);
    width: 100%;

    }
    .subtotal-mini {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
     }
    .subtotal-mini p {
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 280;
      letter-spacing: .7px;
    }
    .checkout-btn{
      padding: .6em 2em;
      border: 1px solid black;
      margin-inline: 1rem;
      margin-top: .8rem;
      font-size: .8rem;
      text-transform: uppercase;
      background-color: transparent;
      display: grid;
      place-content: center;
     margin: 0;
     margin-right: 0;
     width: 90%;
     margin: auto;
   
  
  }
  @include small() {
    width: 100vw;
    z-index: 900;

   
}
@include medium() {
  width: 100vw;
  z-index: 900;

 
}

  @include large() {
    width: 40vw;
    z-index: 900;

  

   
}
}
/*Set nav shopping Cart*/


/*Products Page*/
.products-page {

  width: 100vw;
  min-height: 100vh;
}

.navigation-cont {
  display: flex;
  gap: 1.2rem;
  .navigation-h1 {
    font-size: .9rem;
    color: rgb(175, 174, 174);
    letter-spacing: .5px;
    font-weight: 300;
   
    @include small() {
     font-size: .6rem;
    
  
     
  }
  }
}
.products-area {
  padding-top: 12vh;
 
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .products-container{
    padding-top: 2vh;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 70vw;
    margin: auto;
    
    
    .prodcut-i-cart{
      margin-bottom: 1rem;
      cursor: pointer;
    
    

     
      padding: 2%;
      .product-i-img  {
        aspect-ratio: 1/1.5;
        position: relative;
  
         img {
           position: absolute;
           top: 0;
           left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    }

    .product-i-desc {
      display: flex;
      flex-direction:column ;
      padding: 2% 3%;
      color: $text-color;
     
    
     
       h1 {
         font-size: .7rem;
         text-transform: uppercase;
         letter-spacing: .5px;
         font-weight: 400;
       

       }
       p {
         font-size: .7rem;
         margin-top: -1%;
         text-transform: uppercase;
         letter-spacing: .5px;
         font-weight: 500;
         
       
       }
     

    }

  

  }
  @include small() {
    .products-container{
      padding-top: 2vh;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      width: 100vw;
      margin: auto;
      gap: .80rem;
      
      
      .prodcut-i-cart{
        margin-bottom: 1rem;
        padding: 0;
      
      
  
       
 
        .product-i-img  {
          aspect-ratio: 1/1.45;
    
           img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      }
  
      .product-i-desc {
        display: flex;
        flex-direction:column ;
        padding: 2% 3%;
        color: $text-color;
       
      
       
         h1 {
           font-size: .6rem;
           text-transform: uppercase;
           letter-spacing: .4px;
           font-weight: 400;
       
  
         }
         p {
           font-size: .55rem;
           margin-top: -1%;
           text-transform: uppercase;
           letter-spacing: .5px;
           font-weight: 400;
         
         }
       
  
      }
  
    
  
    }
   

   
}
  @include medium() {
    .products-container{
      padding-top: 2vh;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      width: 100vw;
      margin: auto;
      gap: 1.3rem;
      
      .prodcut-i-cart{
        margin-bottom: 1rem;
      
      
  
       
        padding: 0%;
        .product-i-img  {
          aspect-ratio: 1/1.5;
    
           img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      }
  
      .product-i-desc {
        display: flex;
        flex-direction:column ;
        padding: 0% 3%;
        color: $text-color;
       
      
       
         h1 {
           font-size: 1rem;
           text-transform: uppercase;
           letter-spacing: .5px;
           font-weight: 400;
  
         }
         p {
           font-size: .9rem;
           margin-top: -3%;
           text-transform: uppercase;
           letter-spacing: .5px;
           font-weight: 400;
         
         }
       
  
      }
  
    
  
    }
  
 
}

  @include large() {
    

  

   
}

}


/* Products Page Ends*/

/* Sing Product Page*/

.sp-mobile-nav {

  @include large() {
  display: none;   
}
}


.sp-desc-nav {

  @include small() {
  display: none;   
}
@include medium() {
  display: none;   
}
}


.single-product {
 




  @include small() {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
      .sp-carousel {
       
        position: relative;
      background-color: white;
      width: 100vw;
      height: 83vh;
 
       overflow: hidden;
       clip-path: inset(10px  round 15px 15px 0 0);
       background-color: #343434;
    
   }

   .desk-swatches {
     display: none;
   }
 
 
     .gallery {
 
      
       display: flex;
       flex-direction: column;
 
       align-self: flex-start;
     
     
       .gallery-container {
         width: 100vw;
         position: relative;
        height:83vh;
         display: flex;
       
   
    
         user-select: none;
        
     
         img{
     
           width: 100%;
           height: 100%;
           object-fit: cover;
         }
         
       }
       
     }
 
    .grabbing {
      cursor: grabbing;
    }
  
  
    

    
   .swatch-cont {
     z-index: 1000;
      position: absolute;
      top: 50%;
    transform: translateY(-50%);
      right: 5%;
     
    
      .swatches {
      
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        gap: .9rem;
       
        .swatch {
          width: 3.5px;
          height: 3.5px;
          border-radius: 100%;
          background-color: rgb(255, 255, 255);
        }
        .active-swatch {
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: rgb(49, 49, 49) ;
          transition: .3s ease;

        }
      }
    }

    .gallery-desktop {
      display: none;
   } 

   .sp-desc {
     background-color: white;
     margin-top: -2rem;
     z-index: 100;

     .desk-main {
       width: 96vw;
       z-index: 1000;
       background-color: white;
     
       margin: auto;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: space-around;

       .product-desk-title {
         width: 100%;
         padding-top: .4rem;
         display: flex;
         align-items: center;
         justify-content: space-between;

         h1{
           font-size: 1rem;
           text-transform: uppercase;
           font-weight: 280;
           letter-spacing: .6px;
         }
         p{
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 280;
          letter-spacing: .6px;

         }
       }
       .product-desc {
      
         padding-block: .5rem;
         margin-block: .5rem;
         font-size: .8rem;
         font-weight: 280;
         letter-spacing: .4px;
       }
       .color-size {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         margin-bottom: 2rem;
         gap: 1rem;

         .color {
           display:flex;
           flex-direction: column;
       
           justify-content: space-around;

           h3{
             font-weight: 250;
          
               font-size: .7rem;
               letter-spacing: 1.2px;
               text-transform: uppercase;

             

           }

           .color-span 
           {
             display: flex;
             gap: .5rem;
             span {
              width: 1rem;
              height: 1rem;
              background-color: #006400;
              border-radius: 50%;
              &:hover {
                border: 1px solid grey;
              }
            }

           }

        
         }

         .size{
           display: flex;
           flex-direction: column;
    

           h3{
            font-weight: 250;
          
            font-size: .7rem;
            letter-spacing: 1.2px;
            text-transform: uppercase;

           }
           .size-span {
             display: flex;
             gap: .5rem;
             span {
               background-color: rgb(221, 221, 221);
               width: 1.9em;
               text-align: center;
               padding-block: .8em;
               font-size: .8rem;
               font-weight: 250;
               &:hover {
                 background-color: #343434;
                 color: white;
                 transition: .6s ease;
               }
            
             }
           }
         }
       }

       .add-to-cart-desc {
         
         padding: 1.3em 6em;
         border: 1px solid $text-color;
         font-weight:300;
         text-transform: uppercase;
         font-size: .7rem;
         letter-spacing: 1px;
         margin-bottom: 2rem;
         &:hover {
           color: white;
           background-color: $text-color;
           border: none;
           transition: .6s ease;
         }
       }
       .care-section {
         display: flex;
         flex-direction: column;
         margin-bottom: 2rem;
         gap: 1rem;
         .care-info {
           width: 50vw;
           border-bottom: 1px solid $text-color;
           padding-block: 1rem;
           
           h1{
             font-size: .9rem;
             text-transform: uppercase;
             font-weight: 350;
             letter-spacing: .6px;
           }
           p {
             font-size: .8rem;
             letter-spacing: .8px;
             font-weight: 250;


           }

         }
       }
     }
   }


   }
   @include medium() {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .gallery-desktop{
      display: none;
    }

    .sp-carousel {
       
      position: relative;
    background-color: white;
    width: 100vw;
    height: 83vh ;
     overflow: hidden;
     clip-path: inset(10px  round 15px 15px 0 0);
  
 }


   .gallery {
    
     display: flex;
    flex-direction: column;
  




   

     
  

     align-self: flex-start;
 


     .gallery-container {


    
       width: 100vw;
       position: relative;
       height:83vh;
   
       display: flex;
  

     

       img{
         
       
         width: 100%;
         height: 100%;
         object-fit: cover;
       }
       
     }
     
   }


  

  
 .swatch-cont {
   z-index: 1000;
    position: absolute;
    top: 50%;
  transform: translateY(-50%);
    right: 5%;
   
  
    .swatches {
    
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items: center;
      gap: .9rem;
     
      .swatch {
        width: 3.5px;
        height: 3.5px;
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
      }
      .active-swatch {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: rgb(49, 49, 49) ;
        transition: .3s ease;

      }
    }
  }

  .gallery-desktop {
    display: none;
 } 
 .sp-desc {
  background-color: white;
  margin-top: -2rem;
  z-index: 100;

  .desk-main {
    width: 96vw;
    z-index: 1000;
    background-color: white;
  
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .product-desk-title {
      width: 100%;
      padding-top: .4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 280;
        letter-spacing: .6px;
      }
      p{
       font-size: 1rem;
       text-transform: uppercase;
       font-weight: 280;
       letter-spacing: .6px;

      }
    }
    .product-desc {
   
      padding-block: .5rem;
      margin-block: .5rem;
      font-size: .8rem;
      font-weight: 280;
      letter-spacing: .4px;
    }
    .color-size {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 2rem;
      gap: 1rem;

      .color {
        display:flex;
        flex-direction: column;
    
        justify-content: space-around;

        h3{
          font-weight: 250;
       
            font-size: .7rem;
            letter-spacing: 1.2px;
            text-transform: uppercase;

          

        }

        .color-span 
        {
          display: flex;
          gap: .5rem;
          span {
           width: 1rem;
           height: 1rem;
           background-color: #006400;
           border-radius: 50%;
           &:hover {
             border: 1px solid grey;
           }
         }

        }

     
      }

      .size{
        display: flex;
        flex-direction: column;
 

        h3{
         font-weight: 250;
       
         font-size: .7rem;
         letter-spacing: 1.2px;
         text-transform: uppercase;

        }
        .size-span {
          display: flex;
          gap: .5rem;
          span {
            background-color: rgb(221, 221, 221);
            width: 1.9em;
            text-align: center;
            padding-block: .8em;
            font-size: .8rem;
            font-weight: 250;
            &:hover {
              background-color: #343434;
              color: white;
              transition: .6s ease;
            }
         
          }
        }
      }
    }

    .add-to-cart-desc {
      
      padding: 1.3em 6em;
      border: 1px solid $text-color;
      font-weight:300;
      text-transform: uppercase;
      font-size: .7rem;
      letter-spacing: 1px;
      margin-bottom: 2rem;
      &:hover {
        color: white;
        background-color: $text-color;
        border: none;
        transition: .6s ease;
      }
    }
    .care-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      gap: 1rem;
      .care-info {
        width: 50vw;
        border-bottom: 1px solid $text-color;
        padding-block: 1rem;
        
        h1{
          font-size: .9rem;
          text-transform: uppercase;
          font-weight: 350;
          letter-spacing: .6px;
        }
        p {
          font-size: .8rem;
          letter-spacing: .8px;
          font-weight: 250;


        }

      }
    }
  }
}
    

   }
   @include large() {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10vh;
    
    .gallery  {
      display: none;
    }

    .single-product {
      margin-top: 10vh;
      display: flex;
      flex-direction: row-reverse;
     
      align-items: center;
      justify-content: space-around;
    }
    .sp-carousel {
     flex: 1;


      display: grid;
      place-content: center;
      gap: 1rem;
      padding: 1rem;

      .gallery-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 30rem;
        aspect-ratio: 1/1.4;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          
        }
       

      }
      .desk-swatches {
        display: flex;
        flex-direction: column;
        margin-left: .8rem;
        

        .desc-swatch {
          width: 4rem;
          margin-bottom: .8rem;
          aspect-ratio:1/ 1;
          cursor: pointer;
          position: relative;
          img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
            
          }
          .desk-overlay {
         
            position: absolute;
            width: 100%;
            height: 100%;
            &:hover {
              background-color: rgba(255, 255, 255, 0.281);
              position: absolute;
              width: 100%;
              height: 100%;
              transition: .8s ease;

            }
          }
          
         
          
        }

      }
     
    }

    .gal-desc-cont {
      display: flex;
    }
   
 
    
    .sp-desc {
      flex: 1;
      display: grid;
      place-content: center;
     
      background-color: blue;
     
     
    }

   }

}


/*Sing Product Page Ends*/