@import 'mixins';

$white-color: #fff;
$green: #006400;


.navbar {

  margin-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  min-height: 8vh;
  padding-block: .5rem;
  display: flex;
  align-items: center;
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;

  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96vw;
    margin: auto;
   
    
  }

  & .burger {
    display: flex;
    flex-direction: column;
    gap: .26rem;
    justify-content: center;
    cursor: pointer;

    span {
      width: 28px;
      height: 1.4px;
      background-color: $white-color;

    }

  }

  & .logo{
    font-size: 1.4rem;
    color: $white-color;
    margin: 0;
    text-transform: uppercase;
    font-weight: 200;
   
    letter-spacing: 1px;
    
  }
  & .shop__bag {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    cursor: pointer;

    span {
      color: $white-color;
      font-size: .8rem;
      letter-spacing: .5px;
      font-weight: 300;
    }
  }

  @include small() {
   
  }
  @include medium() {
    & .burger {
      display: flex;
      flex-direction: column;
      gap: .36rem;
      justify-content: center;
      cursor: pointer;
  
      span {
        width: 30px;
        height: 1.4px;
        background-color: $white-color;
  
      }
  
    }
   
  }
  @include large() {
    .burger {
      display: none;
    }
    & .logo{
      font-size: 1.4rem;
      color: $white-color;
      margin: 0;
      text-transform: uppercase;
      font-weight: 150;
     
      letter-spacing: 1px;
    }
   
  }

  
}


.main__container {
  width: 100vw;
  min-height: 100vh;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);


 
}
.fairy {
  position: absolute;
  top: 10rem;
  left: 5rem;
  

   img{
     width: 13rem;
   }
 }

.first__section {
  width: 100vw;
  min-height: 100vh;
 
  // background-color: rgb(15, 40, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
 


  & .fixed {
    position: fixed;
 
  }
  & .first__title {
    position: absolute;
    bottom: 15vh;
    left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;

    & .first__text{
      color: $white-color;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden;
    }
    & .white__arrow {
      overflow: hidden;
    
      margin-top: -5px;
     
    }
    & .animation__span {
      display: block;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
      padding: 0rem .4rem;
    }

  }
  



  @include small() {
   
    .white__arrow {
      
      width: 4.5rem;
    }
    .first__secMain {
      background-color: transparent;
      background-image: url("/backimg-min.JPG");
      background-size: cover;
    }
    .first__text{

      font-size: 1.4;
    
    }
  
    
    .first__secMain {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    
      video {
  
        z-index: 100;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 50;
       
     
      }
      
      
     

    
    }
    .fairy {
      position: absolute;
      top: 50vh;
      left: 5rem;
      width: 10rem;
      z-index: 60;
      
    
       img{
         width: 13rem;
         height: 20rem;
      
       }
     }
    
   
  }
  @include medium() {
    .white__arrow {
      
      width: 5rem;
    }
    .first__secMain {
      background-color: transparent;
      background-image: url("/backimg-min.JPG");
      background-size: cover;
    }
    .first__text{

      font-size: 2;
    }
    .first__secMain {
      overflow: hidden;
      width: 100vw;
      height: 100vh;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
     

    }
    .fairy {
      
      position: absolute;
      top: 50vh;
      left: 5rem;
      width: 10rem;
      z-index: 60;
      
    
       img{
         width: 13rem;
         height: 20rem;
      
       }
     }
    
   
  }
  @include large() {
    
    .white__arrow {
      
      width: 6rem;}
    .first__section {
      display: grid;
      place-content: center;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

     
  
     
    }

    .first__text{

      font-size: 2.5rem;
     
    }
    .first__secMain {
      overflow: hidden;
      width: 20rem;
      aspect-ratio: 1/1.4;
      border-top-left-radius: 25rem;
      border-top-right-radius: 25rem;
     

     
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
     
      }
    }
    

   
  }


}


.second__section {

  width: 100vw;
 position: relative;
  min-height: 110vh;
  z-index: 20;
  overflow: hidden;
  background-color:		#F9F6EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  

  
  


 

  & .second__text {

    letter-spacing: 0;
 
    margin: 0;
 
    text-align: start;
    font-size: 1.5rem;

    letter-spacing: .7px;
    line-height: 1.9rem;
    font-weight: 200;
    text-transform: lowercase;
    padding: 20% 10%;
    position: relative;

    // & .highlite {

    // }

 
    
  }
 

  .second__video {
   
    aspect-ratio: 1/1;
    
  


    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
   .second__jewerly{
    text-align: start;
     
     & .animation__spanDark{
      display: block;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
      padding: 0rem .4rem;
    }
     h1 {
       color: $green;
       font-weight: 300;
       text-transform: uppercase;
       letter-spacing: .9px;
       font-size: 1.5rem;
       overflow: hidden;
 
      
      
     
     }
     & .dark__arrow {
       width:5rem;
       margin-top: -7px;
       

     }
   

   }
 
  
 



  @include small() {
   
    // .second__desktop {
    
    // }
   
    .second__text {

      letter-spacing: 0;
   
      margin: 0;
   
      text-align: start;
      font-size: 1.9rem;
  
      letter-spacing: .7px;
      line-height: 2.1rem;
      font-weight: 200;
      text-transform: lowercase;
      padding: 18% 10%;
      position: relative;
      
  
      // & .highlite {
  
      // }
     
  
   
      
    }
    .second__desktop {
     
      
      display: grid;
      grid-template-columns: 1fr;
      width: 100vw;
 
   
    
      text-align: start;
  
  
      
      
   
    
      
    }
    .title__cont {
    padding: 5% 10%;
       
      

    }
   
    .second__video {
      position: relative;
      aspect-ratio: 1/.9;
      
    
  
  
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
   
   
  }
  @include medium() {
    & .second__text {
      width: 60%;
      letter-spacing: 0;
   
      margin: 0;
   
      text-align: start;
      font-size: 1.9rem;
  
      letter-spacing: .7px;
      line-height: 2.3rem;
   
      text-transform: lowercase;

      position: relative;
  
      // & .highlite {
  
      // }
  
   
      
    }
    .second__desktop {
     
      
      display: grid;
      grid-template-columns: 1fr;
      width: 100vw;
 
   
    
      text-align: start;
  
  
      
      
   
    
      
    }
    .title__cont {
    padding: 5% 10%;
       
      

    }

    .second__video {
     
      width: 100vw;
      aspect-ratio: 1/.6;
      
    
  
  
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
   
 
   
  }
  @include large() {
    .second__section{
      position: relative;
   
    
    }
    .second__text {
      width: 50%;
      letter-spacing: 0;
   
      margin: 0;
   
      text-align: start;
      font-size: 2rem;
  
      letter-spacing: .7px;
      line-height: 2.3rem;

      text-transform: lowercase;
      padding: 7%;
      
       
      position: relative;
  
     
  
   
      
    }
    
    .second__desktop {
     
      
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100vw;

      justify-content: center;
 
   
      align-items: center ;
    
      text-align: start;
  
  
      
      
   
    
      
    }
    .title__cont {
      padding-left: 10% ;
      padding-top: 50%;
      
      

    }
   
    .second__video {
      width: 100%;

 
      aspect-ratio: 1/.7;
        video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
   
    

   
  }
 
}


.fairy {

  width: 8rem;

  position: sticky;
  overflow: hidden;
  z-index: 500;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 500;
    

    
 
  
  }

  @include small() {
    margin-top: -114vh;
    width: 4rem;
    left: 70%;
   
   
  }
  @include medium() {
    margin-top: 0;
    margin-top: -112vh;
    width: 4rem;
    left: 70%;
   
   
  }
  @include large() {
    margin-top: 0;
    margin-top: -113vh;
    width: 4rem;
    left: 70%;
   
   
  }
}

